# data
assets/*
*.ply
*.png
*.npy
*.bin
*.bag
*.obj
*.jpg
*.mp4
*.pt
data
_DATA
*.npz
*.yaml

# config backups
*.yaml.backup.*
*.env.backup.*

# virtual env
.phantom-touch
pyorbbecsdk

# third party
third-party/

#env
*.egg-info

# pyc
*.pyc
*.stl