absl-py==2.2.2
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
argcomplete==3.4.0
asttokens==3.0.0
attrs==25.3.0
av==14.4.0
beautifulsoup4==4.13.3
black==24.1.1
blessed==1.20.0
blinker==1.9.0
braceexpand==0.1.7
build==1.2.2.post1
certifi==2025.1.31
charset-normalizer==3.4.1
chumpy @ git+https://github.com/mattloper/chumpy@51d5afd92a8ded3637553be8cef41f328a1c863a
click==8.1.8
cloudpickle==3.1.1
cmeel==0.57.3
cmeel-assimp==5.4.3.1
cmeel-boost==1.83.0
cmeel-console-bridge==1.0.2.3
cmeel-octomap==1.10.0
cmeel-qhull==8.0.2.1
cmeel-tinyxml==2.6.2.3
cmeel-urdfdom==3.1.1.1
cmeel-zlib==1.3.1
colorama==0.4.6
comm==0.2.2
commitizen==3.28.0
ConfigArgParse==1.7
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.12
dash==3.0.3
decli==0.6.2
decorator==5.2.1
detectron2 @ git+https://github.com/facebookresearch/detectron2@9604f5995cc628619f0e4fd913453b4d7d61db3f
diffusers==0.11.1
docker-pycreds==0.4.0
docstring_parser==0.16
eigenpy==3.5.1
einops==0.8.1
etils==1.12.2
evdev==1.9.2
executing==2.2.0
Farama-Notifications==0.0.4
fastjsonschema==2.21.1
filelock==3.13.1
Flask==3.0.3
fonttools==4.57.0
freetype-py==2.5.1
frozenlist==1.5.0
fsspec==2024.6.1
fvcore==0.1.5.post20221221
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
glfw==2.9.0
gpustat==1.1.1
grpcio==1.71.0
gymnasium==0.29.1
hamer @ git+ssh://git@github.com/geopavlakos/hamer.git@091de2a07b5414a2f9373d2bec368b8c979883b6
hpp-fcl==2.4.4
huggingface-hub==0.30.1
hydra-core==1.3.2
idna==3.10
imageio==2.37.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.1.0
iopath==0.1.10
ipython==9.1.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.6
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
json-tricks==3.17.3
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.14
kiwisolver==1.4.8
lazy_loader==0.4
lightning-utilities==0.14.3
llvmlite==0.44.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mmcv==1.3.9
mmpose @ git+ssh://git@github.com/ViTAE-Transformer/ViTPose.git@d5216452796c90c6bc29f5c5ec0bdba94366768a
mpmath==1.3.0
mujoco==3.2.6
multidict==6.3.2
munkres==1.1.4
mypy==1.10.1
mypy-extensions==1.0.0
narwhals==1.35.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
numba==0.61.2
numpy==1.26.4
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-ml-py==12.570.86
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
nvitop==1.4.2
omegaconf==2.3.0
-e git+ssh://git@github.com/ayadabdalla/ontouch.git@d9ed20cf552bbd2519df42546a9eede9ace07e9a#egg=ontouch
open3d==0.19.0
opencv-python==4.10.0.84
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathlib==1.0.1
pathspec==0.12.1
pexpect==4.9.0
-e git+ssh://git@github.com/ayadabdalla/phantom-touch.git@eb72cd6898f29451f4cf56f1e04f91a97e539bd1#egg=phantom_touch
pillow==10.4.0
pin==2.7.0
platformdirs==4.3.7
plotly==6.0.1
pluggy==1.5.0
portalocker==3.1.1
prompt_toolkit==3.0.50
propcache==0.3.1
protobuf==4.25.6
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybind11==2.11.0
pybind11-global==2.11.0
pybind11-stubgen==2.5.1
pycocotools==2.0.8
pydantic==2.11.2
pydantic_core==2.33.1
pydantic_yaml==1.4.0
pygame==2.6.1
pyglet==2.1.3
Pygments==2.19.1
pynput==1.7.8
PyOpenGL==3.1.0
pyparsing==3.2.3
pyproject_hooks==1.2.0
pyquaternion==0.9.9
pyrender==0.1.45
PySocks==1.7.1
pytest==8.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-xlib==0.33
pytorch-lightning==2.5.1
pytz==2025.2
PyYAML==6.0.2
questionary==2.1.0
-e git+ssh://git@github.com/utn-mi/robot-control-stack.git@54bbe4e27467c702fc6f1159a7019deb7dc952c9#egg=rcsss
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
retrying==1.3.4
rich==13.9.4
rpds-py==0.24.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.3.2
safetensors==0.5.3
sam2==1.1.0
scikit-image==0.25.2
scikit-learn==1.6.1
scikit_build_core==0.11.2
scipy==1.15.2
sentry-sdk==2.29.1
setproctitle==1.3.6
setuptools==70.2.0
shellingham==1.5.4
sievedata==1.4.10
six==1.17.0
smmap==5.0.2
smplx==0.1.28
soupsieve==2.6
sseclient==0.0.27
stack-data==0.6.3
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
threadpoolctl==3.6.0
tifffile==2025.3.30
timm==1.0.15
tomlkit==0.13.2
torch==2.6.0+cu126
torchmetrics==1.7.0
torchvision==0.21.0+cu126
tqdm==4.67.1
traitlets==5.14.3
trimesh==4.6.6
triton==3.2.0
typeguard==4.4.2
typer==0.15.2
types-requests==2.32.0.20250328
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
wandb==0.19.11
wcwidth==0.2.13
webdataset==0.2.111
websockets==15.0.1
Werkzeug==3.0.6
wheel==0.45.1
widgetsnbextension==4.0.14
xtcocotools==1.14.3
yacs==0.1.8
yapf==0.43.0
yarl==1.19.0
zipp==3.21.0
